<div>
    <h2>Text Comparison</h2>
    <div>
        <input type="file" (change)="onFile1Selected($event)" />
        <textarea [(ngModel)]="fileContent1" [value]="fileContent1" placeholder="Enter first text" rows="5" cols="40"></textarea>
    </div>
   
    <div>
    <input type="file" (change)="onFile2Selected($event)" />
      <textarea [(ngModel)]="fileContent2" [value]="fileContent2" placeholder="Enter second text" rows="5" cols="40"></textarea>
    </div>
    <button class="comparebtn" (click)="compare()">Compare</button>
  
    <div *ngIf="diffs.length > 0">
      <h3>Comparison Result:</h3>
      <div *ngFor="let diff of diffs">
        <span [ngClass]="{ added: diff[0] === 1, removed: diff[0] === -1 }">
          {{ diff[1] }}
        </span>
      </div>
    </div>
  </div>